/*========= Botões ==========*/
.botao {
    align-items: center;
    cursor: pointer;
    font: 400 1.2rem Montserrat, sans-serif;
    outline: none;
    padding: 1rem 1.5rem;
    text-align: center;
    transition: all 0.4s ease-in-out;
}

.botao--primario {
    background-color: var(--vermelho);
    border: none;
    color: var(--branco);
}

.botao--secundario {
    border: 1px solid var(--vermelho);
    color: var(--vermelho);
}

.botao:hover {
    background-color: var(--cor-destaque);
}

/*========= Títulos ==========*/
.titulo {
    color: var(--preto);
    font: 700 3rem Montserrat, sans-serif;
    margin-bottom: 6.4rem;
}

.titulo--medio {
    font-size: 2.4rem;
}

.titulo--chamada {
    font-size: 3rem;
    font-weight: 500;
    margin-bottom: 0.5rem;
}

.titulo--pequeno {
    font-size: 1.2rem;
}

.titulo--secao {
    position: relative;
    padding-left: 4.4rem;
}

.titulo--secao::before {
    content: '';
    background-color: var(--cor-destaque);
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 100%;
    z-index: -1;
}

.titulo--upper {
    text-transform: uppercase;
}

/*========= Subtítulos ==========*/

.subtitulo {
    color: var(--preto);
    font: 300 1.6rem 'Josefin Sans', sans-serif;
}

.subtitulo--chamada {
    font-size: 1.4rem;
}

/*========= Textos ==========*/
.texto {
    font: 300 1.6rem 'Josefin Sans', sans-serif;
    color: var(--preto);
}

.texto--grande {
    font-size: 1.8rem;
}

.texto--pequeno {
    font-size: 1.4rem;
}

.texto--branco {
    color: var(--branco);
}


/*========= Media Queries ==========*/
@media screen and (min-width:963px) {
    .botao {
        font-size: 1.6rem;
    }

    .titulo {
        font-size: 4rem;
        margin-bottom: 8rem;
    }

    .titulo--chamada {
        font-size: 6.4rem;
        margin-bottom: 0.5rem;
    }

    .subtitulo--chamada {
        font-size: 2.2rem;
    }
    
    .texto {
        font-size: 2.4rem;
    } 

    .texto--pequeno {
        font-size: 1.4rem;
    }
}