.galeria__mosaico {
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(9, 1fr);
}

/*========= Imagens ==========*/
.galeria__item {
    overflow: hidden;
    position: relative;
}

.galeria__img {
    cursor: pointer;
    height: 100%;
    filter: grayscale(100%);
    transition: all 0.4s ease-in-out;
    width: 100%;
}

.galeria__img:hover, .galeria__img:focus {
    filter: grayscale(0%);
    transform: scale(1.1);
}

.duas-colunas{
    grid-column: span 2;
}

.duas-linhas {
    grid-row: span 2;
}

.galeria__item--um {
    order: 0;
}

.galeria__item--dois {
    order: 0;
}

.galeria__item--três {
    order: 0;
}

.galeria__item--quatro {
    order: 1;
}

.galeria__item--cinco {
    order: 1;
}

.galeria__item--seis {
    order: 0;
}

.galeria__item--sete {
    order: 2;
}

.galeria__item--oito {
    order: 3;
}

/*========= Legendas ==========*/
.galeria__legenda {
    /* display: none; */
    position: absolute;
    background-color: rgba(0, 0, 0, 0.541);
    bottom: 0;
    left: 0;
    color: var(--branco);
    font-size: 1.2rem;
    padding: .8rem 1.6rem;
    width: 100%;

}

/*========= Quadrados ==========*/
.galeria__mosaico > .quadrado { 
    transition: all 0.4s ease-in-out;
}

.galeria__mosaico > .quadrado:hover { 
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.15);
    transform: scale(1.02);
}

.quadrado--texto {
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 10px;
}

.quadrado--texto > .texto {
    align-items: center;
    border: 1px solid var(--preto);
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
    height: 100%;
    justify-content: center;
    padding: 10px;
    text-align: center;
}

.quadrado--texto > .texto > span {
    font-weight: bold;
    margin-top: .5rem;
}

.quadrado--texto > .texto--branco {
    border: 1px solid var(--branco);
    padding: 10px;
}

.galeria__mosaico > .quadrado--branco {
    order: 1;
}

.galeria__mosaico > .quadrado--listras {
    order: 4;
}


/*Image modal*/

.modal {
    width: 100%;
    height: calc(100% - 7.2rem);
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.733);
    margin-top: -1px;
    animation: zoom 0.3s ease-in-out;
    padding: 2.4rem;
    z-index: 10;
}

@keyframes zoom {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}

.modal img {
    width: 100%;
    object-fit: cover;
}

/*Botão fechar modal*/

.closeBtn {
    color: rgba(255, 255, 255, 0.87);
    font-size: 25px;
    position: absolute;
    top: 2.4rem;
    right: 2.4rem;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.closeBtn:hover {
    color: rgb(255, 255, 255);
}

/*========= Media Queries ==========*/
@media screen and (min-width:763px) {
    .galeria__mosaico {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(6, 1fr);
    }

    .galeria__item--um {
        order: 0;
    }

    .galeria__item--dois {
        order: 1;
    }

    .galeria__item--três {
        order: -1;
    }

    .galeria__item--quatro {
        order: 6;
    }

    .galeria__item--cinco {
        order: 0;
    }

    .galeria__item--seis {
        order: 0;
    }
    
    .galeria__item--sete {
        order: 0;
    }

    .galeria__item--oito {
        order: 0;
    }

    .quadrado--vermelho {
        order: 8;
    }

    .quadrado--preto {
        order: 5;
        aspect-ratio: 1/1;
    }

    .quadrado--branco.quadrado--texto {
        order: 0;
    }

    .galeria__mosaico > .quadrado--listras {
        order: 0;
    }

    .galeria__mosaico > .quadrado--vermelho {
        order: 0;
    }
    
    .galeria__legenda {
        font-size: 1.6rem;
    }
    
    .quadrado--texto > .texto {
        font-size: 1.6rem;
    }

    .quadrado--texto > .texto > span {
        margin-top: 1.6rem;
    }

    .modal {
        padding: 4.8rem;
    }

    .closeBtn {
        right: 5.4rem;
    }
}

@media screen and (min-width:963px) {
    .galeria__mosaico {
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }

    .galeria__item--um {
        order: 0;
    }

    .galeria__item--dois {
        order: 0;
    }

    .galeria__item--três {
        order: 0;
    }

    .galeria__item--quatro {
        order: 0;
    }

    .galeria__item--cinco {
        order: 0;
    }

    .galeria__item--seis {
        order: 0;
    }
    
    .galeria__item--sete {
        order: 0;
    }

    .galeria__item--oito {
        order: 0;
    }

    .quadrado--preto {
        order: 0;
    }

    .galeria__mosaico > .quadrado--listras {
        order: 0;
    }

    .quadrado--texto > .texto {
        font-size: 1.4rem;
    }

    .quadrado--texto > .texto > span {
        margin-top: 1rem;
    }

    .galeria__legenda {
        font-size: 1.4rem;
    }

    .modal {
        padding: 0;
    }

    .modal img {
        height: 80%;
        margin: auto;
        width: auto;
        object-fit: cover;
    }

    .closeBtn {
        right: 15%;
    }
}