.header {
    align-items: center;
    background-color: var(--branco);
    display: flex;
    height: 7.2rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

#header.scroll {
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.15);
}

.container--header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

/*---- LOGO ----*/

/* .header__logo {
    font: 400 1.4rem 'Roboto Condensed', sans-serif;
    color: var(--preto);
    display: flex;
    align-items: center;
    gap: 2.4rem;
} */

.header__logo > img {
    width: 4.2rem;
}

.header__logo--branco {
    /* visibility: hidden; */
    display: none;
    left: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1000;
}

/*---- NAV ----*/

.menu {
    align-items: center;
    background-color: var(--preto);
    display: flex;
    height: 0px;
    flex-direction: column;                     
    justify-content: space-evenly;
    left: 0;
    overflow-y: hidden;
    padding-top: 4.5rem;
    position: absolute;
    top: 0;
    width: 100%;
    visibility: hidden;
    z-index: 100;
}

.menu__itens {
    align-items: center;
    display: flex;
    flex-direction: column;   
    justify-content: space-evenly;
    width: 100%;
}

.menu__item {
    text-align: center;
    width: 100%;
}

.menu__link {
    align-items: center;
    display: flex;
    justify-content: center;
    color: var(--cinza-claro);
    font: 400 1.8rem Montserrat, sans-serif;
    height: 5rem;
    width: 100%;
}

.menu__link:hover {
    background-color: var(--vermelho);
}

.menu__link--destaque > i {
    margin-right: 1.6rem;
}

.menu__social {
    align-items: center;
    border-bottom: 1px solid var(--cinza-claro) ;
    border-top: 1px solid var(--cinza-claro);
    display: flex;
    justify-content: space-around;
    padding: 1rem 0;
    position: relative;
    width: 100%;
}

.menu__social::before,
.menu__social::after {
    background-color: var(--cinza-claro);
    content: '';
    height: 100%;
    position: absolute;
    width: 1px;
}

.menu__social::before{
    left: 33.33%;
}

.menu__social::after{
    right: 33.33%;
}

.social__icone--grande > i {
    color: var(--branco);
    font-size: 5rem;
}

/*---- Abrir e fechar menu mobile ----*/
#nav.show-menu #menu {
    height: 100vh;
    overflow-y: auto;
    visibility: visible;
    width: 100vw;
}

#nav.show-menu .header__logo--branco {
    display: block;
    left: 1.5rem;
    /* visibility: visible; */
}

#btn-mobile {
    cursor: pointer;
    display: flex;
    border: none;
    background: none;
}

#hamburger {
    border-top: 2px solid var(--preto);
    width: 20px;
    z-index: 1000;
}

#hamburger::after,
#hamburger::before {
    content: '';
    display: block;
    width: 20px;
    height: 2px;
    background: var(--preto);
    margin-top: 5px;
    transition: 0.3s ease-in-out;
    position: relative;
}

#nav.show-menu #hamburger {
    border-top-color: transparent;
}

#nav.show-menu #hamburger::before {
    background: var(--branco);
    transform: rotate(135deg);
}

#nav.show-menu #hamburger::after {
    background: var(--branco);
    top: -7px;
    transform: rotate(-135deg);
}

/*========= Media Queries ==========*/
@media screen and (min-width:963px) {
    .header {
        height: 8rem;
    }

    #btn-mobile {
        display: none;
    }

    .container--header {
        display: block;
        position: relative;
        width: 100%;
    }
    
    .header__logo {
        /* background-color: var(--branco); */
        left: 50%;
        /* padding: .5rem; */
        position: absolute;
        top: -1.8rem;
        transform: translateX(-50%);
    }

    .header__logo > img {
        width: 4.8rem;
    }

    .menu {
        background-color: var(--branco);
        height: 100%;
        padding: 0;
        position: initial;
        visibility: visible;
        width: auto;
    }

    .menu__itens {
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
    }

    .menu__esquerda, .menu__direita {
        align-items: center;
        display: flex;
        gap: 2rem;
    }

    .menu__item {
        text-align: left;
        width: auto;
    }
    
    .menu__link {
        font-size: 1.6rem;
        height: auto;
        padding: .25em .5em;
        position: relative;
        width: auto;
    }

    .menu__link:hover,
    .menu__link:focus {
        background-color: var(--branco);
    }

    .menu__link--padrao {
        border: 1px solid transparent;
        color: var(--preto);
    }

    .menu__link--padrao::before {
        content: '';
        position: absolute;
        height: 0;
        width: 0;
        border: 1px solid transparent;
        bottom: 0;
        left: 0;
        box-sizing: border-box;
        transition: height 0.2s linear, width 0.2s linear 0.2s;
    }

    .menu__link--padrao::after {
        content: '';
        position: absolute;
        height: 0;
        width: 0;
        border: 1px solid transparent;
        top: 0;
        right: 0;
        box-sizing: border-box;
        transition: height 0.2s linear, width 0.2s linear 0.2s;
    }

    .menu__link--padrao:hover::before,
    .menu__link--padrao:focus::before,
    .menu__link--padrao.active::before,
    .menu__link--padrao.active::before {
        height: 100%;
        width: 100%;
        border-color: var(--vermelho);
        border-right: none;
        border-bottom: none;
        
    }

    .menu__link--padrao:hover::after,
    .menu__link--padrao:focus::after,
    .menu__link--padrao.active::after,
    .menu__link--padrao.active::after {
        height: 100%;
        width: 100%;
        border-color: var(--vermelho);
        border-left: none;
        border-top: none;
    }
    
    .menu__link--destaque {
        border: 2px solid var(--vermelho);
        color: var(--vermelho);
        position: relative;
        transition: all 300ms ease-in-out;
        z-index: 1;
    }
    
    .menu__link--destaque::before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        background-color: var(--vermelho);
        transform: scaleX(0);
        transform-origin: left;
        transition: all 300ms ease-in-out;
        z-index: -1;
    }
    
    .menu__link--destaque:hover::before,
    .menu__link--destaque:focus::before {
        transform: scaleX(1);
    }
    
    .menu__link--destaque:hover,
    .menu__link--destaque:focus  {
        color: var(--branco);
    }

    .menu__link--destaque > i {
        margin-right: .8rem;
    }

    .menu__social {
        display: none;
    }
}