.inicio {
    padding: 0;
    padding-top: 7.2rem;
}

.container--inicio {
    align-items: center;
    display: flex;
    flex-direction: column-reverse;
    gap: 4.8rem;
    height: calc(100vh - 7.2rem);
    justify-content: center;
    padding: 4rem 0;
}

.inicio__chamada {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.inicio__chamada > .titulo {
    margin-bottom: 0.5rem;
    text-align: center;
}

.inicio__chamada > .subtitulo {
    margin-bottom: 2.4rem;
    text-align: center;
}

.inicio__chamada > .botao {
    text-align: center;
}