.inicio {
    padding: 7.2rem 0 0;
}
.container--inicio {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 4.8rem;
    height: calc(100vh - 7.2rem);
    justify-content: center;
    padding: 4rem 0;
}

.inicio__chamada {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* margin-top: 90%; */
}

.inicio__chamada > .titulo {
    color: var(--preto);
    margin: 0;
    text-align: center;
}

.inicio__chamada > .subtitulo {
    color: var(--preto);
    margin: 1.6rem 0 2.4rem;
    text-align: center;
}

.chamada__botoes {
    display: flex;
    gap: 1.8rem;
}

.inicio__chamada > .botao {
    text-align: center;
}

/*========= Media Queries ==========*/
@media screen and (min-width:963px) {
    .container--inicio {
        background-image: url("../img/home/home.webp");
        background-position: right bottom;
        background-repeat: no-repeat;
        background-size: 70%;
        flex-direction: row;
        justify-content: start;
    }

    .inicio__chamada {
        align-items: flex-start;
        margin: 0;
        max-width: 50rem;
    }

    .inicio__chamada > .titulo,
    .inicio__chamada > .subtitulo {
        color: var(--preto);
        text-align: left;
    }

    .inicio__chamada > .subtitulo {
        margin-bottom: 4.8rem;
    }

    .inicio__imagem {
        display: none;
    }
}